.food-detail
  position:fixed
  left:0
  top:0
  bottom:48px
  width:100%
  background:#fff
  z-index: 30
  .icon
    position:relative
    top:0
    left:0
    width:100%
    height:0
    padding-top:100%
    img
      position:absolute
      width:100%
      height:100%
      top:0
    .back
      position:absolute
      line-height:20px
      padding: 10px
      height:20px
      width:20px
      top:0
      left:0
      .icon-arrow_lift
        font-size: 24px
        font-weight: 700
        color:#fff
  .details
    position:relative
    margin-left:18px
    font-size: 0
    .name
      padding-top:18px
      font-size:14px
      font-weight:700
      line-height:14px
    .extra
      margin-top:8px
      font-size:10px
      line-height:10px
      color:rgb(147,153,159)
      .rating
       margin-left: 12px
    .price
      padding:18px 0;
      .new
        font-size:14px
        font-weight:700
        color:rgb(240,20,20)
        line-height:24px
      .old
        text-decoration:line-through
        font-size:10px
        font-weight:700
        color:rgb(147,153,159)
        line-height:24px
    .cart-control-wrapper
      position:absolute
      right:10px
      bottom:10px
      box-sizing: border-box
    .buy-button
      position:absolute
      right:18px
      bottom:18px
      text-align:center
      color:rgb(255,255,255)
      width:74px
      height:24px
      font-size:10px
      line-height:24px
      background:rgb(0,160,220)
      border-radius:24px
  .food-info
    padding:18px
    width:100%
    box-sizing:border-box
    .title
      padding-bottom:6px
    .content
      padding:0 8px
      font-size:12px
      font-weight:200
      color:rgb(77,78,95)
      line-height:24px
  .food-ratings
    margin-top:18px
    .title
      margin-left:18px
  .comment-wrapper
    position:relative
    margin:0 18px
    padding-top:16px
    .rating-time
      padding:0 0 6px 0
      font-size:10px
      line-height:13px
      color:rgb(147,153,159)
    .commnet-content
      padding-bottom:16px
      border-bottom:1px solid rgba(7,17,27,0.1)
      .commnet-icon
        display:inline-block
        vertical-align:top
        font-size:12px
        line-height:16px
        color:rgb(147,153,159)
      .thumb_up
        color:rgb(0,160,220)
      .commnet-text
        display:inline-block
        vertical-align:top
        font-size:12px
        line-height:16px
        color:rgb(7,17,27)
    .comment-user
      position:absolute
      right:0
      top:16px
      .user
        vertical-align:top
        font-size:10px
        line-height:12px
        color:rgb(147,153,159)
      .avatar
        vertical-align:top
        height:12px
        width:12px
        border-radius:50%
        
      
    
      
    
  