body, html
  line-height: 1
  font-size: 200
  font-family:'PingFang SC','STHeitSc-Light','Helvetica-Light'

.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
  


.cart-fade-enter-active 
  transition: all .3s ease
.cart-fade-leave-active 
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.cart-fade-enter, .cart-fade-leave-to
  transform: translateY(100px)
  opacity: 0
  
  
.mask-fade-enter-active 
  transition: all .3s ease
.mask-fade-leave-active 
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.mask-fade-enter, .mask-fade-leave-to
  opacity: 0


.bounce-enter-active 
  animation: bounce-in .5s
.bounce-leave-active 
  animation: bounce-in .5s reverse
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}


.slide-fade-enter-active 
  transition: all .3s ease
.slide-fade-leave-active 
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0
